html {
    -webkit-text-size-adjust: 100%; 
    height: 100%; 
    background-color: #ff7d4f;
    /* background-color: #fafbf0; */
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    margin: 0; 
    font-family: 'Helvetica', sans-serif; 
    /* color: rgb(42, 166, 255); */
    font-size: 3.85vw; 
    height: 100%; 
    text-transform: uppercase; 
    letter-spacing: -0.031em; 
    overflow-x: hidden; 
    line-height: .95;
    width: 100%;
}

* {-webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale;}


h1, h2, h3, h4, h5, h6 {
    font-weight: normal; 
    margin:0;
}

p {
    margin: 0;
}

.location {
    color: rgb(255, 255, 255);
}

ul, li{list-style: none; padding: 0; margin: 0;}
a {background-color: transparent; color: inherit; text-decoration: none;}
input{border: 0; padding: 0; font-family: 'Helvetica', sans-serif; font-size: 3.85vw;}
input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active  {-webkit-box-shadow: 0 0 0 30px white inset !important;}
.white-color input:-internal-autofill-selected {color: white!important;}
.white-color input:-webkit-autofill {-webkit-text-fill-color: white!important;}
.white-color input:-webkit-autofill, .white-color input:-webkit-autofill:hover, .white-color input:-webkit-autofill:focus, .white-color input:-webkit-autofill:active{color: white;}
.white-color input:-webkit-autofill, .white-color input:-webkit-autofill:hover, .white-color input:-webkit-autofill:focus, .white-color input:-webkit-autofill:active  {-webkit-box-shadow: 0 0 0 30px #1d1d1b inset !important;}
::selection {background: transparent; color:  rgb(180, 255, 104);}
::-moz-selection {background: transparent; color: rgb(180, 255, 104);}
:focus {outline: -webkit-focus-ring-color auto 0px;}
[type="checkbox"], [type="radio"] {box-sizing: border-box; padding: 0;}
[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {height: auto;}
[type="search"] {-webkit-appearance: textfield; outline-offset: -2px;}
[type="search"]::-webkit-search-decoration {-webkit-appearance: none;}
::-webkit-scrollbar{display: none; -webkit-appearance: none; width: 0!important;}
/*----------------------------------
               HEADER
----------------------------------*/
.hide {
    display: none;
}
    
.show:hover + .hide {
    display: block;
}

#HOME {
  color: #1d1d1b;
  text-transform: none;
}

.site-branding{
  text-transform: uppercase;
  font-size: 2vw;
  letter-spacing: -0.031em;
}

#the-commu{
  letter-spacing: -0.002em;
}
#studio-ker{
  letter-spacing: -0.003em;
}
#press-office-ker{
  margin-left: .4vw;
}
#services{
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .6s ease;
  -moz-transition:    all .6s ease;
  -ms-transition:     all .6s ease;
  -o-transition:      all .6s ease;
  transition:         all .6s ease;
  color: #fff;
  filter: blur(20px);
}
#menu{
  bottom: 0;
  left: 0;
  position: fixed;
  font-size: 2vw; 
  color: #1d1d1b;
  z-index: 100;
  width: calc(100% - 55.5% - 30px);
  padding: 17px 10px 17px 20px;
  -webkit-transition: left .4s ease;
  -moz-transition:    left .4s ease;
  -ms-transition:     left .4s ease;
  -o-transition:      left .4s ease;
  transition:         left .4s ease;
}
.menu-hidden{
  left: calc(55.5%)!important;
}
.services-shown{
  opacity: 1!important;
  filter: blur(0px)!important;
}
header,
main{
  position: fixed;
}
header{
  left: 0;
  width: calc(100% - 55.5% - 30px);
  padding: 17px 10px 17px 20px;
  height: calc(100% - 34px);
  -webkit-transition: left .4s ease;
  -moz-transition:    left .4s ease;
  -ms-transition:     left .4s ease;
  -o-transition:      left .4s ease;
  transition:         left .4s ease;
}

.welcome {
    left: 37%;
    top: 40%;
    width: calc(100% - 55.5% - 30px);
    padding: 17px 10px 17px 20px;
    height: calc(100% - 34px);
    -webkit-transition: left .4s ease;
    -moz-transition:    left .4s ease;
    -ms-transition:     left .4s ease;
    -o-transition:      left .4s ease;
    transition:         left .4s ease;
  }


#the-commu1,
#studio-ker1 {
    -webkit-filter: blur(1px);
    -moz-filter: blur(1px);
    -o-filter: blur(1px);
    -ms-filter: blur(1px);
    filter: blur(1px);
  }

#the-commu1:hover,
#studio-ker1:hover {
    -webkit-filter: none;
    -moz-filter: none;
    -o-filter: none;
    -ms-filter: none;
    filter: none;
}

.header-right{
  left: calc(55.5%)!important;
}

#location-trigger{
  color: #ff7d4f!important;
}
#location-trigger:hover{
  color: #FFF;
}

#about-trigger,
#contact-trigger{
  cursor: pointer;
  color: #1d1d1b;
}
#about-trigger:hover,
#contact-trigger:hover{
  color: #FFF;
}
.active-link{
  color: #fff!important;
}
.cat-title{
  color: #fff;
  text-transform: uppercase!important;
}
main{
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding: 17px 20px;
  top: 0;
  right: 0;
  width: calc(55.5% - 40px);
  height: calc(100% - 34px);
  overflow: scroll;
  -webkit-transition: right .4s ease;
  -moz-transition:    right .4s ease;
  -ms-transition:     right .4s ease;
  -o-transition:      right .4s ease;
  transition:         right .4s ease;
}
.main-hidden{
  right: calc(-55.5% - 40px)!important;
}
main a,
main span{
  display: block;
}
/*----------------------------------
               ABOUT
----------------------------------*/
#about-container,
#contact-container{
  text-transform: none;
  background-color: #a0a18f;
  position: fixed;
  left: calc(-55.5% - 40px);
  -webkit-overflow-scrolling: touch;
  scroll-behavior: smooth;
  padding: 17px 20px;
  top: 0;
  left: calc(-55.5% - 40px);
  width: calc(55.5% - 40px);
  height: calc(100% - 34px);
  overflow: scroll;
  -webkit-transition: left .4s ease;
  -moz-transition:    left .4s ease;
  -ms-transition:     left .4s ease;
  -o-transition:      left .4s ease;
  transition:         left .4s ease;
}
.about-shown{
  left: 0!important;
}
.close-trigger{
  position: absolute;
  bottom: 17px;
  text-transform: uppercase!important;
  cursor: pointer;
}
.close-trigger:hover{
  color: #fff;
}
#about-container .close-trigger{
  position: relative;
  bottom: auto;
}
#about-container p{
  margin-bottom: 75px;
}
#contact-container a{
  color: #fff;
  text-transform: uppercase;
}
/*----------------------------------
              HOMEPAGE
----------------------------------*/
.client-homepage-image{
  position: fixed;
  top: 0;
  right: 0;
  width: 55.5%;
  height: 100%;
  z-index: -1;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .2s ease;
  -moz-transition:    all .2s ease;
  -ms-transition:     all .2s ease;
  -o-transition:      all .2s ease;
  transition:         all .2s ease;
}
.client-homepage-image img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.image-shown{
  opacity: 1!important;
}
/*----------------------------------
               CLIENT
----------------------------------*/
.single-post main{
  background-color: #a0a18f;
}
.inner-title{
  color: #fff;
  margin-bottom: 7px;
}
.inner-media{
  line-height: 0;
}
.client-media{
  margin-bottom: 10px;
  height: auto;
}
.client-media video{
  width: 100%;
}
.media-big{
  width: 100%;
}
.media-small{
  width: 60%;
}
.external-trigger{
  cursor: pointer;
  color: #fff;
}
.external-links div:first-child{
  margin-top: 135px;
}
.external-content{
  display: none;
}
.video-container{
  background-color: #000;
}
/*----------------------------------
------------------------------------
------------------------------------
------------------------------------
           MEDIA QUERIES
------------------------------------
------------------------------------
------------------------------------
----------------------------------*/
/*----------------------------------
              IPAD
----------------------------------*/
/*
@media only screen and (max-device-width: 1370px) {
html{
  height: auto;
}
body{
  font-size: 6.5vw;
  height: auto;
}
header{
  width: calc(100% - 30px);
  padding: 12px 15px;
  height: auto;
  z-index: 100;
}
.single-post header {
  background-color: #cac3bb;
}
#services{
  display: none!important;
}
#menu{
  width: calc(100% - 30px);
  padding: 12px 15px;
  margin-top: 135px;
}
.single-post #menu{
  position: relative;
  bottom: auto;
  left: auto;
}
.menu-hidden{
  left: calc(100%)!important;
}
.home main{
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 0;
  overflow: scroll;
  z-index: 90;
}
.single-post main {
  position: relative;
  background-color: #cac3bb;
  padding: calc(24px + 18vw) 15px 0;
  width: calc(100% - 30px);
  position: relative;
  height: auto;
  overflow: hidden;
  opacity: 1!important;
}
.single-post .main-hidden{
  position: fixed!important;
  opacity: 0!important;
}
.single-post .menu-hidden {
  position: fixed!important;
}
.single-post header {
  top: 0;
}
.project-title-container{
  position: fixed;
  top: 0;
  padding: 120px 15px 12px;
  z-index: 100;
  width: calc(100% - 30px);
  right: 0;
  -webkit-transition: right .4s ease;
  -moz-transition:    right .4s ease;
  -ms-transition:     right .4s ease;
  -o-transition:      right .4s ease;
  transition:         right .4s ease;
}
.main-hidden {
  right: calc(-100% - 40px)!important;
}
.cat-project-container{
  overflow: hidden;
  height: 0;
}
.mobile-open{
  height: 100%!important;
}
.cat-images-container{
  position: relative;
  line-height: 0;
}
.client-homepage-image{
  position: relative;
  top: auto;
  right: auto;
  width: 100%;
  height: 95vh;
  z-index: 1;
  opacity: 1;
}
.active-project{
  color: #fff;
  color: #cac3bb;
}
#about-container,
#contact-container{
  width: calc(100% - 30px);
  left: calc(-100% - 30px);
  padding: 17px 15px;
}
.header-right{
  left: calc(100%)!important;
}
.single-post .header-right{
  left: calc(100%)!important;
  opacity: 0!important;
}
.external-links div:first-child {
    margin-top: 30px;
}
#contact-container .close-trigger{
    bottom: 12px;
}
}*/
@media only screen and (max-device-width: 1370px) and (orientation:portrait) {
#about-container .close-trigger {
    position: absolute;
    bottom: 12px;
}
}
@media only screen and (max-device-width: 1370px) and (orientation:landscape) {
body{
  font-size: 2.7vw!important;
}
#about-container .close-trigger {
    position: absolute;
    bottom: 12px;
}
}
/*----------------------------------
               1100
----------------------------------*/
@media only screen and (max-width: 1100px) {
body{
  font-size: 3.7vw;
}
}
/*----------------------------------
               900
----------------------------------*/
@media only screen and (max-width: 900px) {
body{
  font-size: 3.6vw;
}
}
/*----------------------------------
              MOBILE
----------------------------------*/
@media only screen and (max-width: 620px),
       only screen and (max-device-width: 1370px) {
html{
  height: auto;
}
body{
  font-size: 6.5vw;
  height: auto;
}
header{
  width: calc(100% - 30px);
  padding: 12px 15px;
  height: auto;
  z-index: 100;
}
#services{
  display: none!important;
}
#menu{
  width: calc(100% - 30px);
  padding: 12px 15px;
  margin-top: 135px;
}
.single-post #menu{
  position: relative;
  bottom: auto;
  left: auto;
}
.menu-hidden{
  left: calc(100%)!important;
}
.home main{
  position: fixed;
  width: 100%;
  height: 100vh;
  padding: 0;
  overflow: scroll;
  z-index: 90;
}
.single-post main {
  position: relative;
  background-color: #cac3bb;
  padding: calc(24px + 18vw) 15px 0;
  width: calc(100% - 30px);
  position: relative;
  height: auto;
  overflow: hidden;
  opacity: 1!important;
}
.single-post .main-hidden{
  position: fixed!important;
  opacity: 0!important;
}
.single-post .menu-hidden {
  position: fixed!important;
}
.single-post header {
  top: 0;
}
.project-title-container{
  position: fixed;
  top: 0;
  padding: 120px 15px 12px;
  z-index: 100;
  width: calc(100% - 30px);
  right: 0;
  -webkit-transition: right .4s ease;
  -moz-transition:    right .4s ease;
  -ms-transition:     right .4s ease;
  -o-transition:      right .4s ease;
  transition:         right .4s ease;
}
.main-hidden {
  right: calc(-100% - 40px)!important;
}
.cat-project-container{
  overflow: hidden;
  height: 0;
}
.mobile-open{
  height: 100%!important;
}
.cat-images-container{
  position: relative;
  line-height: 0;
}
.client-homepage-image{
  position: relative;
  top: auto;
  right: auto;
  width: 100%;
  height: 95vh;
  z-index: 1;
  opacity: 1;
}
.active-project{
  color: #fff;
  color: #cac3bb;
}
#about-container,
#contact-container{
  width: calc(100% - 30px);
  left: calc(-100% - 30px);
  padding: 17px 15px;
}
.header-right{
  left: calc(100%)!important;
}
.single-post .header-right{
  left: calc(100%)!important;
  opacity: 0!important;
}
.external-links div:first-child {
    margin-top: 30px;
}
#contact-container .close-trigger{
    bottom: 12px;
}
}
@media only screen and (max-device-width: 1370px) {
body{
  font-size: 3.7vw;
}
}
@media only screen and (max-width: 620px) {
body{
  font-size: 6.5vw;
}
#about-container .close-trigger{
  position: relative;
  bottom: auto;
  left: auto;
}
}
@media only screen and (max-device-width: 850px) and (max-device-height: 850px) and (orientation:landscape) {
#about-container .close-trigger{
  position: relative;
  bottom: auto;
  left: auto;
}
}
